 html {
            height: 100%
        }
        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
        #container {
            height: 100%;
			width: 100%;
        }
        #demo_panel {
            position: absolute;
            width: 100%;
            padding: 15px;
            left: 0;
            top: 0;
            background: #fff;
        }
		#left{
			top:0px;
			left:0px;
			height:100%;
			width: 18%;
			position: absolute;
		}
		.div1{
			top:0px;
			right:0px;
			font-size: 20px;
			font-style: "微软雅黑";
			transform: translate(3%,-40%);
			text-align: center; /*文字水平居中*/
			line-height: 500px; /*文字垂直居中*/
		}
		#selector{
			width: 150px;
			height: 30px;
			display: block;
			background-color: #F2F2F2;
			cursor:pointer;
			outline:none;
			margin: 50px 30px 50px 50px;
			padding: 0 0 0 30px;
			border-radius:5px;
		}
		#selector2{
			width: 150px;
			height: 30px;
			display: block;
			background-color: #F2F2F2;
			padding: 0 0 0 20px;
			margin: 50px 30px 50px 36px;
			border-radius:5px;
		}
		.container1{
		    display: flex;
		    flex-direction: column;
		}
		.container1 label{
		    position: relative;
		    margin: 50px 50px 50px 65px;
		    cursor: pointer;
		}
		.container1 label span{
		    position: relative;
		    display: block;
		    width: 80px;
		    height: 40px;
		    background-color: #222;
		    border-radius: 40px;
		    /* 内阴影 */
		    box-shadow: inset 0 2px 15px rgba(0,0,0,0.2),
		    inset 0 2px 2px rgba(0,0,0,0.2),
		    inset 0 -1px 1px rgba(0,0,0,0.2);
		}
		.container1 label .indicator{
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 40px;
		    height: 40px;
		    background: linear-gradient(to bottom,#444,#222);
		    border-radius: 50%;
		    box-shadow: 0 2px 5px rgba(0,0,0,0.5),
		    inset 0 1px 1px rgba(255,255,255,0.1);
		    transform: scale(0.9);
		    transition: 0.05s;
		}
		.container1 label .indicator::before{
		    content: "";
		    width: 5px;
		    height: 5px;
		    /* 绝对定位 居中 */
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%,-50%);
		    border-radius: 50%;
			background-color: #0f0;
			box-shadow: 0 0 2px #0f0,
			0 0 5px #0f0,
			0 0 10px #0f0,
			0 0 15px #0f0,
			0 0 20px #0f0,
			0 0 25px #0f0,
			0 0 30px #0f0,
			0 0 35px #0f0;
		    transition: 0.03s;
		}
		/* 勾选复选框后滑块的变化 */
		.container1 label input:checked ~ .indicator{
		    left: 40px;
		}
		.container1 label input:checked ~ .indicator::before{
		    background-color: #f00;
		    box-shadow: 0 0 2px #f00,
		    0 0 5px #f00,
		    0 0 10px #f00,
		    0 0 15px #f00,
		    0 0 20px #f00,
		    0 0 25px #f00,
		    0 0 30px #f00,
		    0 0 35px #f00;
		}
		/* 字体图标 */
		.icon{
		    color: #fff;
		    font-size: 24px;
		}
		/* 左侧导航栏 */
		.left-box{
		    top:0px;
		    left:0px;
		    height:100%;
		    width: 18%;
		    position: absolute;
		    background-color: rgba(0,0,0,0.65);
		    backdrop-filter: blur(30px);
		    color: #fff;
		    font-size: 14px;
		    display: flex;
		    flex-direction: column;
		    transition: 0.3s ease;
		    white-space: nowrap;
		}
		.left-box ul{
		    list-style: none;
		    width: 90%;
		    margin: 200px -30px;
		    /* 高度铺满 */
		    flex: 1;
		}
		.left-box li{
		    height: 60px;
		    /* 弹性布局 垂直居中 */
		    display: flex;
		    align-items: center;
		    padding-left: 12px;
		    border-radius: 10px;
		    cursor: pointer;
		    /* 过渡 */
		    transition: 0.3s;
		}
		.left-box li:hover{
		    background-color: rgba(255,255,255,0.1);
		}
		.left-box hr{
		    width: 90%;
		    margin: 30px auto;
		    border: none;
		    border-top: 1px solid rgba(255,255,255,0.2);
		}
		.left-box .icon{
		    margin-right: 16px;
		}
